<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
</style>
</head>
<body style="background-color:#DCE1E3;">
<div class="Jumbotron bg-dark">
      <div class="row ">

        <div class="col-sm-4" style="color:red; text-align:center;">
            <h1>Royal Enfield</h1>
        </div>

        <div class="col-sm-8" style="text-align:right">
          <div class="btn-group-light">
            <button type="button" class="btn btn-outline-primary ">
                <a href="{% url 'home' %}"  style="text-decoration: none; color:white;" data-toggle="tooltip" title="Home Page">Home</a>
            </button>

            <button type="button" class="btn btn-outline-info">
               <a href="{% url 'service' %}"  style="text-decoration: none; color:white" data-toggle="tooltip" title="That we provide you.">Service</a>
            </button>

            <button type="button" class="btn btn-outline-success">
              <a href="{% url 'contact' %}" style="text-decoration: none; color:white" data-toggle="tooltip" title="Free to Contact us.">Contact</a>
            </button>

            <button type="button" class="btn btn-outline-info">
              <a href="{% url 'signup' %}" style="text-decoration: none; color:white" data-toggle="tooltip" title="Complete your first step">Sign Up</a>
            </button>

            <button type="button" class="btn btn-outline-primary">
              <a href="{% url 'login' %}" style="text-decoration: none; color:white" data-toggle="tooltip" title="If already have an account">Login</a>
            </button>

          </div>
      </div>
    </div>
  </div>

 <div class="text-center bg-dark text-white">
    <h1>At least once a year,go to a place you have never been before ...</h1>
  </div>
    {% block content %}
    {% endblock %}

    <div style="text-align:right">
    <h3>{{insert_date}}</h3>
    </div>
<h2 class="text-dark text-center">You can also connect with us via...</h2>
<nav class="navbar navbar-expand-sm justify-content-center">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
    </li>
    <li class="nav-item">
      <a href="https://twitter.com/?lang=en" class="fa fa-twitter"></a>
    </li>
    <li class="nav-item">
      <a href="https://www.linkedin.com/login" class="fa fa-linkedin"></a>
    </li>
      <li class="nav-item">
      <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
    </li>
  </ul>


</nav>
</body>
</html>
