<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <body>
    				<p>Hello</p>
    				<p>Welcome to your new account.</p>
    				<p>You can log in right away and start using your new account.</p>
    				<p>Please take a moment to confirm your email address with us.</p>
    				<p>To confirm your email address, please click on the link below:</p>
    				<a href="www.google.com" style="text-decoration" data-toggle="tooltip" title="Conform your email address"><h3>Click to conform email address</h3></a>
		       		<p>Thank you.</p>

</body>
</html>